*{
    padding: 0;
    margin: 0;
    font-family: "Poetsen One", sans-serif;
    text-decoration: none;
}

body{
    background-color:#ffddd7;
    margin: 0;
}
/*INICIO ENCABEZADO*/
header{
    position: flex;
    top: 0; left: 0; right: 0;
    background: #fa7a64;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 1000;
    width: 100%;
    height: 40px;
}

header .logoo {
    display: flex;
    color: #fdfdf9;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
}

header .logoo:hover{
    color: #a73632;
}

header .navbar a{
    font-size: 18px;
    padding: 0 2rem;
    color: #fdfdf9;
    text-decoration: none;
}

header .navbar a:hover{
    color: #a73632;
}

header .iconos a{
    font-size: 24px;
    color: #fdfdf9;
    margin-left: 20px;
}

header .iconos a:hover{
    color: #a73632;
}
header .icono-carro{
    position: relative;
}
header .iconos span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #a73632;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top:4%;
    right: 7%;
}
/*FIN ENCABEZADO*/

/*INICIO BARRA NAVEGACION*/

.b-navegacion{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.b-navegacion ul{
    list-style: none;
    background-color: #a73632;
    text-align: center;
    height: 54px;
    padding: 0; 
    margin: 0;
}

.b-navegacion ul li{
    display: inline-block;
    position: flex;
}

.b-navegacion ul li a{
    display: block;
    padding: 12px 18px;
    font-size: 20px;
    color: #fdfdf9;
    text-decoration: none;
    text-align: left;
}

.b-navegacion ul li ul.dropdown li{
    display: block;
    background: #a73632;
    margin: 0px;
    padding: 0;
}

.b-navegacion ul li ul.dropdown{
    width: auto;
    background: #a73632;
    position: absolute;
    z-index: 999;
    display: none;
}

.b-navegacion ul li a:hover{
    background: #fdfdf9;
    color: #a73632;
}

.b-navegacion ul li:hover ul.dropdown{
    display: block;
}

.b-navegacion ul li ul.dropdown li a:hover{
    background-color: #fdfdf9;
    color: #a73632;
}

/*BARRA BUSQUEDA*/
.caja{
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50px;
    align-items: center;
}

.caja:hover input{
    width: 400px;
}

.caja input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: #fdfdf9;
    color: #000;
    border-radius: 5px;
}

.caja a .fas{
    color: #fa7a64;
    background-color: #a73632;
    font-size: 18px;
    padding: 8px;
    border-radius: 15px;
}
/*FIN BARRA BUSQUEDA*/
/*FIN BARRA NAVEGACION*/

/*INICIO CARRUSEL*/
#carouselExampleIndicators{
    max-width: 800px;
    margin: 0 auto;
}

.carousel-item img{
    max-width: 100%;
    height: auto;
}
/*FIN INICIO lol*/

/*PRODUCTOS POPULARES*/
/*TITULO*/
.titulo {
    padding: 20px; 
    width: 100%; 
    margin: 30px auto; 
    text-align: center; 
}
.titulo h1 {
    margin: 0; 
}
/*TITULO*/

/* INICIO CARDS*/

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.producto {
    text-align: center;
    width: calc(33.33% - 10px);
    padding: 20px;
    position: relative; 
    background-color: #fff;
    width: 300px;
    height: auto; 
    border-radius: 10px;
    overflow: hidden; 
    margin: 10px; 
    display: inline-block;
}

.producto img {
    max-width: 100%;
    position: relative; 
}

.contenedor-imagen {
    position: relative;
    display: inline-block;
}

.descuento {
    position: absolute;
    top: 10px; 
    right: 10px; 
    background-color: rgb(240, 102, 182);
    color: white;
    padding: 5px 10px;
    border-radius: 10px; 
}

.precio {
    margin-top: 10px;
}

.precio-original {
    text-decoration: line-through;
    color: #888;
}

.precio-descuento {
    color: #a73632; 
    font-weight: bold;
}

.precio-anterior del {
    text-decoration: line-through;
    color: #999; 
}

.producto button {
    background-color: #fa7a64;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}

.producto button:hover {
    background-color: #a73632; 
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .producto {
        width: calc(50% - 10px); /* 2 productos por fila en pantallas pequeñas */
    }
}

/*FIN PRODUCTOS POPULARES CARDS*/

/*INICIO PIE DE PAGINA*/
.pie .pie-pagina {
    color: #fdfdf9;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.pie-pagina .fondo {
    background-color: #fa7a64;
    padding: 30px 0;
}

.pie-pagina .contenido {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pie-pagina .logooo img {
    width: 200px;
}

.pie-pagina h4{
    color: #fdfdf9;
    font-weight: bold;
}

.pie-pagina ul {
    list-style-type: none;
    padding: 0;
}

.pie-pagina ul li {
    margin-bottom: 10px;
}

.pie-pagina ul li a {
    color: #fdfdf9;
    text-decoration: none;
}

.pie-pagina ul li a:hover {
    color: #a73632;
}

.pie-pagina .contacto p {
    margin: 7px 0;
}

.pie-pagina .contacto p a {
    color: #fdfdf9;
}

.pie-pagina .contacto p a:hover{
    color:#a73632;
}

.pie-pagina .clinica-veterinaria p {
    margin-bottom: 10px;
}

/*FIN PIE DE PAGINA*/


/*INICIO PROMOCIONES HTML*/
.title{
    text-align: center;
    font-size: 50px;
    color: #a73632;
    padding: 1rem 0;
}

.botones button{
    display: flex;
    height: 70px;
    width: 300px;
    align-items: center;
    justify-content: left;
    background-color: #fa7a64;
    border-radius: 50px;
    padding: 0 20px;
    margin-left: 10px; 
}

.botones img{
    height: 60px;
    width: auto;
    margin-right: 20px;
}

.botones p{
    font-size: 18px;
    text-align: left;
    color: #fdfdf9;
}

.botones button:hover{
    opacity: 0.5;
}

.descts .fila-row .botones{
    display: flex;
    flex-direction: row;
    flex: 1;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}
.descts .prod-desct{
    text-align: center;
    width: 100%;
}

/*FIN PROMOCIONES HTML*

/*VISTA INICIAR SESION*/
.fondo-pagina {
    background: url('img/fondo_inicio\ sesion.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}


.form-login {
    width: 350px; 
    background-color: rgba(240, 184, 218, 0.5); 
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 100px;
    color: rgb(14, 13, 13); 
}

.form-login h5 {
    text-align: center;
    margin-bottom: 20px; 
    font-size: 15px;
}

.form-login .recuadro {
    
    width: 98%; 
    height: 40px; 
    margin-bottom: 25px;
    padding: 10px; 
    font-size: 0.9375rem; 
    font-weight: bold;
    color: rgb(15, 15, 15);
  
}
.logo {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
}

.logo img {
    width: 80px; 
    height: auto; 
}

.logo span {
    font-size: 20px; 
    margin-left: 0;
    
}


.form-login .boton {
    width: 100%;
    padding: 10px;
    background: #F6995C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.form-login .boton:hover {
    background: #F6995C;
    opacity: 0.9;
}

.form-login p {
    text-align: center;
    margin-bottom: 0;
}

.form-login a {
    color: white;
    font-size: 14px;
}

.form-login a:hover {
    background-color:transparent;
    text-decoration: underline;
}
/* Estilo para el modal */
.modaal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modaal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #111111;
    width: 19%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*CIERRE INICIO SESION*/

/*VISTA CREAR CUENTA*/

.fondo-paginaa {
    background: url('img/fondo_\ registro.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
.form-registro {
    
    width: 410px; 
    background-color: rgba(240, 184, 218, 0.5); 
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 100px;
    color: rgb(14, 13, 13); 
}

.form-registro h4 {
    text-align: center;
    margin-bottom: 20px; 
    font-size: 15px;
}

.form-registro .recuadro {
    width: 98%; 
    height: 45px; 
    margin-bottom: 25px;
    padding: 10px; 
    font-size: 0.9375rem; 
    font-weight: bold;
    color: rgb(15, 15, 15);
}

.form-registro p {
    height: 20px;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}

.form-registro a {
    color: white;
}

.form-registro a:hover {
    color: white;
    text-decoration: underline;
}

.form-registro .boton {
    width: 100%;
    background: #F6995C;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.form-registro .boton:hover{
    opacity: 0.7;
}

/*CIERRE CREAR CUENTA*/
/*contactanos*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.alert{
    display: flex;
    padding: 12px 20px;
    background: #f8d7da;
    color: #721c24;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
}
.fondo-paginna {
    background: url('img/fondo_formulario.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.contenedor{
    display: flex;
    max-width: 600px; 
    width: 90%;
    background-color: rgba(240, 184, 218, 0.5); 
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 100px;
    color: rgb(14, 13, 13); 
}

.contenedor h1{
    display: flex;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    color: #020202;
}

.contenido{
   
        text-align: center;
    
}

.formulario input[type='text'],
.formulario textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 20px;
    border: 1px solid #999;
    color: #0f0f0f;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    outline: 0;
}

.formulario textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 200px;
}



.formulario button{
    padding: 12px 30px;
    border: transparent;
    background: #640511;
    color: #fff;
    cursor: pointer;
    float: right;
    
}


@media (max-width: 520px){
   .contenedor{
       padding: 40px 20px;
   }

   .contenido .info,
   .contenido .formulario{
       width: 100%;
       padding: 0px;
   }

   .contenido .info{
       margin-bottom: 30px;
   }
}

@media (max-width: 800px){
  
    .contenido .info,
    .contenido .formulario{
        width: 100%;
        padding: 0px;
    }
 
    .contenido .info{
        margin-bottom: 30px;
    }
 }

/*CARRITO*/
.contenido-centrado {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido-centrado p {
    color: #333; 
    font-size: 20px;
    margin-bottom: 20px; 
}

.contenido-centrado h2 {
    color: #333;
    font-weight: bold; 
    font-size: 24px; 
}

.subrayado {
    width: 100px; 
    height: 5px; 
    background-color: #a73632;
    margin-top: -5px; 
    margin-bottom: 20px;
}
/*Fin carrito*/

/*Modal REGISTRO*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width:300px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
/*Fin del modal*/

/*
COLORS
#fa7a64
#fdfdf9
#aa5c4d
#a73632
*/
/*enviado*/
.fondo-paginnnaa {
    background: url('img/gracias.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}